<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>【Groupy Idol Festival】</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name = "twitter:site"  content = "@groupy"/>
    <meta name="referrer" content="origin">
    <meta property="fb:app_id" content="468293453542396">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:title" content="【Groupy Idol Festival】">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://share.group.vip/html/MayLiveImages/index.html#/">
    <meta property="og:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/optupload/activity_images.jpg">
    <meta property="og:site_name" content="【Groupy Idol Festival】">
    <meta property="og:description" content="5月イベントの思い出·精彩回顾">
    <meta property="al:ios:url" content="itms-apps://itunes.apple.com/app/id1270083927">
    <meta property="al:ios:app_store_id" content="1270083927">
    <meta property="al:ios:app_name" content="groupy">
    <meta name="mixi-check-robots" content="nodescription, noimage">
    <meta property="mixi:device-mobile" content="https://share.group.vip/html/MayLiveImages/index.html?activityId=1005&isFans=1#/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://share.group.vip/html/MayLiveImages/index.html#/">
    <meta name="twitter:title" content="【Groupy Idol Festival】">
    <meta name="twitter:description" content="5月イベントの思い出·精彩回顾">
    <meta name="twitter:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/optupload/activity_images.jpg">
    <meta name="twitter:app:country" content="JP">
    <meta name="twitter:app:name:iphone" content="groupy">
    <meta name="twitter:app:id:iphone" content="1270083927">
    <!-- <meta name="twitter:app:url:iphone" content="com.groupy.app.fans"> -->
    <meta name="twitter:app:name:googleplay" content="groupy">
    <meta name="twitter:app:id:googleplay" content="com.groupy.app.fans">
    <!-- <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.groupy.app.fans"> -->
    <meta name="keywords" content="groupy,動画">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/Groupywebsite/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
