<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>コイン倍増キャンペーン</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta property="og:title" content="コイン倍増キャンペーン" />
    <meta property="og:description" content="Groupyで購入したコインはもれなく100%増量！チャンスをつかんでコインを沢山手に入れよう...">
    <meta property="og:image" content="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/optupload/%E5%85%85%E5%80%BC.jpg"/>
    <meta name = "twitter:card"  content = "summary"/>
	<meta name = "twitter:site"  content = "@groupy"/>
	<meta name = "twitter:title"  content = "コイン倍増キャンペーン"/>
	<meta name = "twitter:description"  content = "Groupyで購入したコインはもれなく100%増量！チャンスをつかんでコインを沢山手に入れよう..."/>
	<meta name = "twitter:image" content="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/optupload/%E5%85%85%E5%80%BC.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/Groupywebsite/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
