<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>1V1生配信</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta property="og:title" content="1V1生配信" />
    <meta property="og:description" content="#Groupy 1V1生配信とは？詳しくはこちら！">
    <meta property="og:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/banner_bg/meeting.jpg"/>
    <meta name = "twitter:card"  content = "summary"/>
	<meta name = "twitter:site"  content = "@groupy"/>
	<meta name = "twitter:title"  content = "1V1生配信"/>
	<meta name = "twitter:description"  content = "#Groupy 1V1生配信とは？詳しくはこちら！"/>
	<meta name = "twitter:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/banner_bg/meeting.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/Groupywebsite/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
