<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title class="htmlTilte">【Groupy】</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta property="og:title" content="【Groupy】" class="metaTitle" />
    <meta property="og:description" content="絶対面白いアイドル動画！今すぐ見てLike・ギフト・コメントで応援しようぜ！#Groupy" class="metaDesc" />
    <meta property="og:image" content="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/share/share_video.jpg" class="metaImg" />
    <meta name = "twitter:card"  content = "summary"/>
    <meta name = "twitter:site"  content = "@groupy"/>
    <meta name = "twitter:title"  content = "【Groupy】" class="metaTitle" />
    <meta name = "twitter:description"  content = "絶対面白いアイドル動画！今すぐ見てLike・ギフト・コメントで応援しようぜ！#Groupy" class="metaDesc" />
    <meta name = "twitter:image" content="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/share/share_video.jpg" class="metaImg" />
    <link rel="shortcut icon" type="image/x-icon" href="http://groupy.vip/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
