    .content {
        background: #fffbfb;
     }
     .avatar {
        width: 90px;
        min-height: 90px;
        display: block;
        float: none;
        margin: 0 auto;
        border: 2px solid #ff3e84;
        img {
            width: 90px;
            min-height: 90px;
        }
     }
     .attendance-title {
        width: 76vw;
        max-width: 380px;
        display: block;
        margin: 10px auto 5px;
     }
     .attendance-desc {
        color: #F4564D;
        font-size: 14px;
        width: 76vw;
        max-width: 380px;
        margin: 0 auto;
        text-align: center;
     }
     .ranking_list {
        padding: 20px 12px;
        margin-bottom: 20px;
     }
     .ranking_list li {
        position: relative;
        border: none;
        padding-left: 9px;
        padding-top: 9px;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 20px;
        overflow: hidden;
        .ranking-idol-content {
            padding: 15px 12px;
            background: #FFFBFB;
            width: calc(100vw - 36px);
            max-width: 448px;
            box-sizing: border-box;
            position: absolute;
            top: 0;left: 0;
            border: 1px solid #FC4083;
            box-shadow: 0 2px 13px 0 rgba(252,64,131,0.18);
            border-radius: 5px;
        }
        .ranking-idol-content {
            background: #FFFBFB;
        }
        .name {
            color: #FC4083;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .idol_desc {
            margin-top: 12px;
            display: flex;
        }
        .attendance-bg {
            width: 100%;
            height: 225px;
        }
        .idol_desc p{
            flex: 1;
            span em {
                color: #666;
            }
            span {
                display: block;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                width: calc(33.33333vw - 20px);
                max-width: 146.66666px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            i {
              display: block;
              text-align: center;
              margin-left: 0;
              color: #999;
              margin-top: 2px;
            }
        }
     }
     .header {
        top: calc(100vh - 64px);
     }