img,i,em,span {
    vertical-align: middle;
    display: inline-block;
}
i{
    font-style: normal;
}
.bottom-line {
    text-align: center;
    color: #999;
    margin-top: 15px;
    span {
        background: #999999;
        width: 50px;
        height: 1px;
    }
    span:first-child {
        margin-right: 7px;
    }
    span:last-child {
        margin-left: 7px;
    }
}
img.icon {
    width: 23.75px;
}
.line_20 {
    background-color: #eee;
    width: 100vw;
    height: 1px;
}
.eBorder {
    border-bottom: 8px solid #eee;
 }
// .detail_title {
//     padding: 0 12px;
//     margin-bottom: 12px;
//     margin-top: 10.5px;
//     font-size: 14px;
// }
.fans_detail {
    padding: 12px 0;
    .detail_title {
        margin: 10.5px 12px 12px;
    }
    .fans_list {
        padding-top: 7.5px;
        padding-bottom: 30px;
        li {
            height: 30px;
            line-height: 30px;
            padding: 12px 0;
            border-top: 1px solid #F0F0F0;
            &:last-child {
                border-bottom: 1px solid #F0F0F0;
            }
        .fans_img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
        }
        p {
            float: left;
            padding-left: 11px;

        }
        span {
            float: right;
            color: #666;
        }
        }
    }
 }
.level {
    float: left;
    background: #FFA600;
    border-radius: 2px;
    display: inline-block;
    font-size: 10px;
    height: 15px;
    line-height: 15px !important;
    color: #fff;
    -webkit-transform: scale(0.65);
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}
.medal_level {
    float: left;
    width: 15px !important;
    margin-top: 3px;
}
.avatar {
    background-image:url(https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
.likes {
    width: 12.55px;
    height: 11.2px;
}
.comment_list {
    background: #eee;
    li {
        padding: 12px;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #EBEBEB;
        line-height: 30px;
        i {
            float: right;
            color: #666;
            overflow: hidden;
            width: 21%;
            height: 13.3px;
            line-height: 13.3px;
            margin-top: (30px-13.3px)/2;
            img {
                float: left;
                width:13.3px;
                margin-right: 4.85px;
            }
        }
        span {
            float: left;
            margin-right: 3px;
            min-width: 25px;
            &:first-child {
                text-align: center;
                margin-right: 10px;
                img {
                    width: 25px;
                    vertical-align: middle;
                }
                i {
                    width: 100%;
                    font-size: 18px;
                    color: #CCCCCC;
                }
            }
        }
        >span.level_color {
            font-size: 18px;
            color: #ccc;
        }
        &:first-child {
            >span.level_color {
                color: #FABC01;
            }
        }
        &:nth-child(2) {
            >span.level_color {
                color: #999;
            }
        }
        &:nth-child(3) {
            >span.level_color {
                color: #FF8500;
            }
        }
    }
    .idol_comment {
        background: #FFF0F6;
        .comment_info {
            >span {
                color: #FC4083;
            }
        }
    }
    .comment_info {
        overflow: hidden;
        height: 40px;
        color: #666;
        i {
            display: inline-block;
            width: calc(100vw - 70px);
            max-width: 430px;
            text-align: left;
            margin-left: calc(100vw * -0.028);
            float: left;
            color: #999;
            font-size: 10px;
            margin-top: 0;
            -webkit-transform: scale(0.92);
        }
        @media screen and (min-width: 499px) {
            i {
                margin-left: -15px;
            }
        }
    }
    div.userinfo {
        overflow: hidden;
        box-sizing: border-box;
        .avatar {
            margin-right: 9px;
        }
        i {
            color: #999;
        }
    }
    .comment_img {
        overflow: hidden;
        span {
            display: block;
            box-sizing: border-box;
            float: left;
            width: 30%;
            height: calc(33.33333vw - 8px);
            background-image:url(https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/pic_default_2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:center;
            overflow:hidden;
            border-radius: 4px;
            margin-right: 10px;
            // border: 1px #ddd solid;
            &:last-child {
                margin-right: 0;
            }
            // .autoWidth {
            //     height: calc((100vw - 93px)/3);
            //     width: auto;
            //     position:relative;
            // }
            // .autoHeight {
            //     width: 100%;
            //     // height: calc((100vw - 93px)/3);
            //     position:relative;
            // }
        }
        @media screen and (min-width: 500px) {
            span {
                max-height: 142.8px !important;
            }
        }
        .oneImg {
            width: 100%;
            height: calc(100vw - 24px);
            max-height: 524px;

            // .autoWidth {
            //     height: calc((100vw - 93px)*3/4);
            //     max-height: 437px * 3/4;
            //     width: auto;
            //     position:relative;
            // }
            // .autoHeight {
            //     width: 100%;
            //     height: auto;
            //     position:relative;
            // }
        }
    }
    div.comment_content {
        padding: 0;
        padding-top: 5px;
        padding-left: 3px;
        font-size: 16px;
        color: #2F2F2F;
        // margin-top: 5px;
        a {
            overflow: hidden;
            display: block;
        }
        img {
            display: block;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
    .comment_desc {
        color: #888;
        font-size: 14px;
        overflow: hidden;
        img {
            width: 20px;
            margin-right: 9.5px;
        }
        span:first-child {
            margin-right: 30px;
        }
        span:last-child {
            float: right;
            img:first-child {
            margin-right: 16px;
            }
            img:first-child {
            margin-right: 0;
            }
        }
    }
    .nickname {
        font-size: 14px;
        font-weight: 600;
        max-width: calc(100% - 120px);
        line-height: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.swiper-slide {
    height: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.integral {
    padding: 12px;
    border-bottom: 8px #eee solid;
    >p:first-child {
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 6px;
        >span:first-child {
            display: inline-block;
            padding-left: 5.5px;
            border-left: solid #666 3.5px;
            margin-right: calc(50% - 100px);
        }
        >span:last-child {
            color: #666;
            img {
                width: 15px;
                vertical-align: middle;
                margin-right: 4.5px;
                margin-left: 12px;
            }
            i {
                color: #333;
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    >p:last-child {
        color: #999;
        text-align:center;
    }
}
.default_page {
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    img {
        margin-bottom: 20px;
        width: 120px;
    }
    p {
        font-size: 14px;
        color: #999;
    }
}
