
html,body {
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    max-width: 500px;
    margin: 0 auto;
}
img,i,em {
    vertical-align: middle;
}
@font-face {
    font-family: 'Helvetica Condensed Bold Italic';
    src: url('/font/Helvetica Condensed Bold Italic.eot');
    src: url('/font/Helvetica Condensed Bold Italic.woff2') format('woff2'),
         url('/font/Helvetica Condensed Bold Italic.eot?#iefix') format('embedded-opentype');
}
html {
    background-color: #f7f7f7;
}
i{
    font-style: normal;
}
body {
    background: #fff;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    font-family: 'SimHei';
}
a {color: #333;}
.link{display: inline-block;width: 100%;height: 100%;}
.header {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    z-index: 1;
    .detail {
        padding: 0 12px;
        height: 54px;
        line-height: 54px;
        .back {
            position: absolute;
            display: block;
            left: 12px;
            height: 12px;
            top: (54px-22px)/2;
            img {
              width: 22px;
              display: block;
            }
        }
    }
    .detailPages {
        // border-bottom: 1px solid #FC4083;
        overflow: hidden;
        display: flex;
        height: 40px;
        line-height:28px;
        padding: 6px 0;
        margin: 0 12px;
        position: relative;
        box-sizing: border-box;
        a {
            color: #666;
            display: block;
            flex: 1;
            margin: 0 7.5%;
            z-index: 2;
        }
        span.bgActive {
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 80px;
            margin-left: calc((100vw - 24px)* 1/6 - 40px);
            display: block;
            z-index: 0;
            height: 2.5px;
            background: #FC4083;
            transition: all 0.3s;
        }
        .active {
            color: #FC4083;
            border-radius: 50px;
        }
    }
}
.content {
    position: absolute;
    top: 41px;
    height: calc(100vh - 41px);
    overflow: auto;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}
.detail_title {
    font-size: 14px;
    border-left: solid 3.5px #666;
    padding-left: 7.5px;
    height: 20px;
    line-height: 20px;
}
img.icon {
    width: 23.75px;
}
.line_20 {
    background-color: #eee;
    width: 100vw;
    height: 1px;
}
.eBorder {
    border-bottom: 8px solid #eee;
 }
.detail_title {
    padding: 0 12px;
    margin-bottom: 12px;
    margin-top: 10.5px;
    font-size: 14px;
}
.fans_detail {
    padding: 12px 0;
    .detail_title {
        margin: 10.5px 12px 12px;
    }
    .fans_list {
        padding-top: 7.5px;
        padding-bottom: 30px;
        li {
            height: 30px;
            line-height: 30px;
            padding: 12px 0;
            border-top: 1px solid #F0F0F0;
            &:last-child {
                border-bottom: 1px solid #F0F0F0;
            }
        .fans_img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
        }
        p {
            float: left;
            padding-left: 11px;

        }
        span {
            float: right;
            color: #666;
        }
        }
    }
 }
.level {
    float: left;
    background: #FFA600;
    border-radius: 2px;
    display: inline-block;
    font-size: 10px;
    height: 15px;
    line-height: 15px !important;
    color: #fff;
    -webkit-transform: scale(0.65);
    padding: 1px 3px;
    margin-top: 1px;
    font-weight: bold;
    text-align: center;
}
.medal_level {
    float: left;
    width: 15px !important;
    margin-top: 0;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    float: left;
    overflow: hidden;
    img {
        width: 30px;
        min-height: 30px;
    }
}
.likes {
    width: 12.55px;
    height: 11.2px;
}
.comment_list {
    background: #eee;
    li {
        padding: 12px;
        background: #fff;
        overflow: hidden;
        border-bottom: 1px solid #EBEBEB;
        line-height: 30px;
        i {
            float: right;
            color: #666;
            overflow: hidden;
            width: 21%;
            height: 13.3px;
            line-height: 13.3px;
            margin-top: (30px-13.3px)/2;
            img {
                float: left;
                width:13.3px;
                margin-right: 4.85px;
            }
        }
        span {
            float: left;
            margin-right: 3px;
            min-width: 25px;
            &:first-child {
                text-align: center;
                margin-right: 10px;
                img {
                    width: 25px;
                    vertical-align: middle;
                }
                i {
                    width: 100%;
                    font-size: 18px;
                    color: #CCCCCC;
                }
            }
        }
        >span.level_color {
            font-size: 18px;
            color: #ccc;
        }
        &:first-child {
            >span.level_color {
                color: #FABC01;
            }
        }
        &:nth-child(2) {
            >span.level_color {
                color: #999;
            }
        }
        &:nth-child(3) {
            >span.level_color {
                color: #FF8500;
            }
        }
    }
    .idol_comment {
        background: #FFF0F6;
        .comment_info {
            >span {
                color: #FC4083;
            }
        }
    }
    .comment_info {
        overflow: hidden;
        height: 40px;
        color: #666;
        i {
            display: inline-block;
            width: calc(100vw - 70px);
            max-width: 430px;
            text-align: left;
            margin-left: calc(100vw * -0.028);
            float: left;
            color: #999;
            font-size: 10px;
            margin-top: 2.5px;
            -webkit-transform: scale(0.92);
        }
        @media screen and (min-width: 499px) {
            i {
                margin-left: -15px;
            }
        }
        span {
            line-height: 22px;
        }
    }
    div.userinfo {
        overflow: hidden;
        box-sizing: border-box;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 9px;
            float: left;
            overdlow: hidden;
            img {
                width: 40px;
                min-height: 40px;
            }
        }
        i {
            color: #999;
        }
    }
    .comment_img {
        overflow: hidden;
        span {
            display: block;
            box-sizing: border-box;
            float: left;
            width: 30%;
            max-height: 25vw !important;
            overflow: hidden;
            max-height: 132px;
            border-radius: 4px;
            margin-right: 10px;
            // border: 1px #ddd solid;
            &:last-child {
                margin-right: 0;
            }
            .autoWidth {
                height: calc((100vw - 93px)/3);
                width: auto;
                position:relative;
            }
            .autoHeight {
                width: 100%;
                // height: calc((100vw - 93px)/3);
                position:relative;
            }
        }
        @media screen and (min-width: 500px) {
            span {
                max-height: 142.8px !important;
            }
        }
        .oneImg {
            width: 100%;
            max-height: calc((100vw - 93px)*4/3) !important;
            // max-height: 437px * 3/4;
            .autoWidth {
                height: calc((100vw - 93px)*3/4);
                max-height: 437px * 3/4;
                width: auto;
                position:relative;
            }
            .autoHeight {
                width: 100%;
                height: auto;
                position:relative;
            }
        }
    }
    div.comment_content {
        padding: 0;
        padding-top: 5px;
        padding-left: 3px;
        font-size: 16px;
        color: #2F2F2F;
        // margin-top: 5px;
        a {
            overflow: hidden;
            display: block;
        }
        img {
            display: block;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
    .comment_desc {
        color: #888;
        font-size: 14px;
        overflow: hidden;
        img {
            width: 20px;
            margin-right: 9.5px;
        }
        span:first-child {
            margin-right: 30px;
        }
        span:last-child {
            float: right;
            img:first-child {
            margin-right: 16px;
            }
            img:first-child {
            margin-right: 0;
            }
        }
    }
}

.swiper-slide {
    // max-height: calc(100vh - 41px);
    height: calc(100vh - 41px);
    overflow: auto;
}
    .integral {
        padding: 12px;
        border-bottom: 8px #eee solid;
        >p:first-child {
            overflow: hidden;
            box-sizing: border-box;
            padding-bottom: 6px;
            >span:first-child {
                display: inline-block;
                padding-left: 5.5px;
                border-left: solid #666 3.5px;
                margin-right: calc(50% - 100px);
            }
            >span:last-child {
                color: #666;
                img {
                    width: 15px;
                    vertical-align: middle;
                    margin-right: 4.5px;
                    margin-left: 12px;
                }
                i {
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        >p:last-child {
            color: #999;
            text-align:center;
        }
    }
    .default_page {
        text-align: center;
        padding-top: 60px;
        box-sizing: border-box;
        img {
            margin-bottom: 20px;
            width: 120px;
        }
        p {
            font-size: 14px;
            color: #999;
        }
    }
