.comment_list {
    max-height: 148vw;
    overflow: hidden;
}
.banner_container {
    padding: 0;
}
.idol_desc {
    color: #666666;
    height: 309px;
    background-image: url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/idol/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
    overflow: hidden;
    .ranking_position {
        position: absolute;
        left: 50%;
        top: 123px;
        background: #ffa62e;
        color: #fff;
        margin-left: 5px;
        -webkit-transform: scale(0.9);
        padding: 1px 8px;
    }
    position: relative;
    width: 100%;
    overflow: hidden;
    .idol_desc_content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 309px;
        // background-color: rgba(0, 0, 0, 0.4);
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        padding-top: 94px;
        >div {
            background: #fff;
            height: 215px;
            box-sizing: border-box;
            padding: 0 12px 12px;
        }
        .avatar {
            width: 90px;
            height: 90px;
            position: absolute;
            left: 50%;
            top: 50px;
            margin-right: 0;
            margin-left: -47px;
            border: 2px solid #fff;
            overflow: hidden;
            img {
                width: 90px;
                min-height: 90px;
            }
        }
        .idol_name {
            color: #333;
            font-size: 18px;
            text-align: center;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-top: 50px;
        }
        .idol_name.none {
            line-height: 35px;
        }
        .idol_org {
            text-align: center;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 6px;
        }
        .idol_support {
            overflow: hidden;
            text-align: center;
            line-height: 20px;
            display: inline-block;
            height: 20px;
            span {
                em {
                    font-size: 14px;
                }
                img {
                    width: 15px;
                    margin-right: 5px;
                }
            }
            span:not(:first-child) {
                margin-left: 30px;
            }
        }
        .attention {
            margin-bottom: 16px;
            margin-top: 5px;
            a {
                line-height: 30px;
                border-radius: 37.5px;
                font-size: 14px;
                padding: 0 15px;
                display: inline-block;
                img {
                    width: 25px;
                    float: left;
                    margin-top: 2px;
                }
            }
            a:first-child {
                border: 1px solid #F5A623;
                color: #F5A623;
                margin-right: 12px;
            }
            a:last-child {
                border: 1px solid #FC4083;
                color: #FC4083;
            }
        }
        .idol_fans_ranking {
            text-align: left;
            overflow: hidden;
            display: block;
            line-height: 25px;
            color: #666666;
            i:first-child {
                float: left;
            }
            >img:last-child {
                float: right;
                width: 7px;
                margin-top: 6.5px;
            }
            div {
                overflow: hidden;
                margin-left: 12px;
                float: left;
                img {
                    float: left;
                    margin-left: 8px;
                    display: block;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }
            .no_fans {
                font-size: 10px;
                -webkit-transform: scale(0.8);
                display: inline-block;
            }
        }
        .ativity {
            text-align: left;
            margin-top: 20px;
            a {
                font-size: 14px;
                color: #00B4BB;
                margin-left: 8.5px;
                margin-right: 3px;
            }
        }
    }
}

.detailPages {
    border-top: 10px solid #eee;
    width: 100%;
    max-width: 500px;
    background: #fff;
    height: 50px;
    line-height: 40px;
    display: flex;
    padding: 0 12px;
    top: 64px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    .tabs {
        flex: 1;
        box-sizing: border-box;
        margin: 0 15%;
        font-size: 14px;
        font-weight: 200;
    }
    .tabs.active {
        border-bottom: 3px solid #FC4083;
        color: #FC4083;
        font-weight: 600;
    }
}

.share_content {
    position: relative;
    overflow: hidden;
    .userinfo .avatar {
        width: 40px;
        height: 40px;
        img {
            width: 40px;
            min-height: 40px;
        }
    }
    .video_desc p {
        font-size: 10px;
        -webkit-transform: scale(0.8);
        margin-left: -28px;
    }
}
.page_defalt {
    height: auto;
    opacity: 0.8;
    overflow: hidden;
    transition: all 0.3s;
}

.page_defalt_none {
    height: 0;
    padding: 0;
    opacity: 0;
    border: none;
}

.defalt_msg {
    z-index: -1;
    .userinfo {
        span {
            width: 50px;
            height: 14px;
            background: #eee;
            margin-top: 8px;
        }
    }
    .comment_content {
        >* {

            margin-top: 10px;
            background: #eee;
            height: 14px;
        }
    }
}
.bigImg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    z-index: 5;
    background: #000;
    vertical-align: middle;
    line-height: 100vh;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0);
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

@media screen and (min-width: 500px) {
    .bigImg {
        left: 50% !important;
        margin-left: -250px !important;
    }
}

.bullet_box_show {
    opacity: 1 !important;
    transform: scale(1) !important;
}
.video_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.66) 100%);
    height: 155px;
}

.feature-title {
    position: relative;
    text-align: center;
    font-size: 16px;
    color: #FC4083;
    font-weight: 600;
    margin: 15px 0 7px;
    span {
        position: absolute;
        background: #FC4083;
        width: 24px;
        height: 1.5px;
        left: 50%;
        top: 11px;
    }
    .left {
        margin-left: -85px;
    }
    .right {
        margin-left: 60px;
    }
}

.video-list {
    overflow: hidden;
    li {
        float: left;
        position: relative;
        margin-left:0.4vw;
        margin-top: 0.8vw;
    }
    .poster {
        object-fit: fill;
        width: 32.8vw;
        height: 49.06667vw;
        max-width: 164px;
        max-height: 245.33335px;
        background-image: url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_video.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .video_play {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25px;
        height: 25px;
        margin-left: -12.5px;
        margin-top: -12.5px;
    }
}
@media screen and (min-width: 500px) {
  .comment_list {
    max-height: 740px;
  }
}
