.content {
    background: #fffbf5;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.banner {
    width: 100%;
    display: block;
}
h2 {
    background: #F6AE24;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}
h4 {
    display: inline-block;
    background-image: linear-gradient(139deg, #FFD479 0%, #F3B124 100%);
    border-radius: 1px 35px 35px 1px;
    line-height: 27px;
    color: #fff;
    padding-left: 12px;
    padding-right: 19px;
    margin-top: 13.5px;
    font-weight: 600;
}
.duration_time {
    overflow: hidden;
    // display: flex;
    box-sizing: border-box;
    margin: 0 12px;
    padding: 13px 0;
    opacity: 0.8;
    // border-bottom: #FC4083 solid 1px;
    p {
        // flex: 1;
        span {
            display: inline-block;
            padding: 0 3px;
            color: #fff;
            background: #42C8E4;
            border-radius: 2px;
            margin-right: 28px;
            vertical-align: middle;
        }
        i {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-top: 3px;
        }
    }
}
.activity_rule {
    padding-bottom: 8px;
    p {
        padding: 12px 12px 0;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        i {
            color: #f4ba4b;
        }
    }
}
.activity_ranking {
    font-size: 14px;
    >p {
        padding-left: 12px;
        padding-top: 12px;
        color: #999;
    }
    .ranking_list {
        padding: 12px 12px 0;
        text-align: center;
        h5 {
            color: #999;
            text-align: left;
        }
        li {
            text-align: left;
            overflow: hidden;
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            >* {
                float: left;
            }
            >span {
                font-family: 'Helvetica Condensed Bold Italic';
                font-size: 24px;
                margin-top: 15px;
                display: inline-block;
                width: 28px;
                // text-align: center;
            }
            >span.first {
                color: #F3B714;
            }
            >span.second {
                color: #888;
            }
            >span.three {
                color: #FF8500;
            }
            >.img_content {
                width: 50px;
                position: relative;
                padding-top: 9px;
                padding-left: 4px;
                margin-right: calc(100vw * 0.04);
                img.avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #888;
                }
                img.crown {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                }

            }
            .idol_content {
                overflow: hidden;
                width: 63vw;
                max-width: 315px;
                margin-top: 10px;
                >span {
                    display: block;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 600;
                    color: #666;
                }
                .idol_desc {
                    display: flex;
                    width: 100%;
                    p {
                        flex: 1;
                        line-height: 24px;
                        overflow: hidden;
                        >span {
                            display: inline-block;
                            overflow: hidden;
                            float: left;
                            img {
                                width: 12px;
                                float: left;
                                margin-top: 6px;
                                margin-right: 5.5px;
                            }
                            em {
                                display: inline-block;
                                float: left;
                                font-size: 16px;
                                font-weight: 600;
                                color: #333;
                                max-width: calc(20vw - 31px);
                                overflow: hidden;
                                text-overflow:ellipsis;
                                white-space: nowrap;
                            }
                        }
                        i {
                            font-size: 12px;
                            display: inline-block;
                            float: left;
                            color: #333;
                            margin-left: 8px;
                            // display: block;
                            // text-align: center;
                        }
                    }
                    p:first-child {
                        flex: 2;
                        >span {
                            em {
                                max-width: calc(42vw - 20px);
                                color: #FB0730;
                            }
                        }
                    }
                }
            }
        }
        .reard_more {
            text-align: center;
            text-decoration: underline;
            color: #666;
            font-size: 14px;
            display: inline-block;
            padding: 12px 0 0;
        }
    }
}
.activity_reward {
    li {
        overflow: hidden;
        background: #FFF7E7;
        border: 1px solid #E0CEAC;
        border-radius: 2px;
        margin: 12px 12px 0;
        padding: 12px;
        >img {
            vertical-align: middle;
            width: 54px;
        }
        .reward_desc {
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            width: calc(100% - 62px);
            p {
                overflow: hidden;
                line-height: 20px;
                span {
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #FABC01;
                    float: left;
                    margin-right: 8px;
                    margin-top: 8px;
                }
                i {
                    float: left;
                    display: inline-block;
                    width: calc(100% - 12px);
                }
            }
        }
    }
    li:nth-child(3) {
        .reward_desc p span {
            background: #BBBBBB;
        }
    }
    li:nth-child(4) {
        .reward_desc p span {
            background: #F5966D;
        }
    }
}
.none_loading {
    transition: all 0.3s;
    opacity: 0.7;
    overflow: hidden;
}
.none_loading_show {
    opacity: 0;
    height: 0;
}
.activity_time {
   position: relative;
}
.share-sns {
    // position: absolute;
    // right: 12px;
    // top: 13.5px;
    text-align: center;
    margin-top: 12px;
    span {
        height: 25px;
        line-height: 25px;
        border: 1px solid #009EF4;
        border-radius: 25px;
        color: #009EF4;
        font-size: 12px;
        padding: 0 9px;
        display: inline-block;
        img {
            width: 15px;
            margin-right: 2px;
        }
    }
    span:first-child {
        margin-right: 12px;
        color: #33589D;
        border-color: #33589d;
    }
}