.live_bg {
    width:  100vw;
    max-width: 500px;
    margin: 0 auto;
    min-height: 980px;
    display: block;
}
.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 500px;
}
#J_prismPlayer {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 56.22189vw !important;
    overflow: hidden;
}
embed {
	height: 56.22189vw !important;
}
.prism-big-play-btn {
    left: 50% !important;
    bottom: 50% !important;
    transform: scale(0.6) !important;
    margin-bottom: -45px !important;
    margin-left: -45px !important;
}
.video-contents {
	position: relative;
}
.toast {
	display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 500px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    z-index: 1000;
    img {
    	width: 100%;
    	display: block;
    }
    p {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100vw;
    	max-width: 500px;
    	height: 40px;
    	line-height: 40px;
    	background: rgba(0,0,0,0.4);
    }
}
.live-title {
	font-size: 18px;
    color: #fff;
    text-align: center;
    height: 48px;
    line-height: 48px;
}
.toast-error {
	display: none;
	position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 500px;
    color: #fff;
	z-index: 1000;
	> img {
		width: 100%;
		display: block;
	}
	p {
		background: #FF6B6B;
		position: absolute;
		width: 100vw;
    	max-width: 500px;
	    left: 0;
	    top: 0;
		height: 32px;
		line-height: 32px;
		font-size: 14px;
		padding: 0 12px;
		img {
			width: 13px;
			margin-right: 6px;
			float: left;
			margin-top: 8.5px;
		}
	}
}
.download {
	display: block;
	background-image: linear-gradient(124deg, #FF8550 0%, #FF2E79 100%);
	border-radius: 4px;
	width: 66vw;
	max-width: 250px;
	margin: 20px	 auto;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}
.more_video {
	padding: 0 12px 64px;
	overflow: hidden;
	color: #fff;
	h3 {
		font-size: 16px;
		padding: 5px 0;
	}
	ul {
		padding-bottom: 10px;
		float: left;
		width: calc((100vw - 36px)/2);
		max-width: calc((500px - 60px)/2);
		&:last-child {
			margin-left: 12px;
		}
		li {
			background: #FAFAFA;
			width: 100%;
			box-shadow: 0 2px 7px 0 rgba(201,201,201,0.75);
			border-radius: 2px;
			margin-bottom: 11.5px;
			overflow: hidden;
		}
	}
	@media screen and (min-width: 500px) {
	    .video_bigImg {
	    	max-height: calc((500px - 36px)/2 * 11/9);
	    }
	}
	.video_bigImg {
		position: relative;
		overflow: hidden;
		max-height: calc((100vw - 36px)/2 * 11/9);
		.video_poster {
			display: block;
			width: 100%;
			// max-height: calc((100vw - 36px)/2 * 11/9);
		}
		.btn_play {
			position: absolute;
			left:50%;
			top: 50%;
			margin-left: -12.5px;
			margin-top: -12.5px;
		}
		>div {
			position: absolute;
			bottom: 12px;
			right: 12px;
			.time_bg {
				display: block;
				width: 48px;
			}
			.time_play {
				position: absolute;
				left: 7px;
				top: 6px;
			}
			span {
				position: absolute;
				left:13px;
				top: 0;
				color: #fff;
				font-size: 10px;
				-webkit-transform: scale(0.8);
			}
		}
	}
	.video_content {
		padding: 3px 7px;
		font-size: 14px;
		line-height: 20px;
	}
}
.header {
	padding: 9px 12px;
	border-bottom: #FAFAFA solid 1px;
	box-shadow: 0 1px 4.5px 0 rgba(0,0,0,0.18);
	max-height: 64px;
	background: #fff;
	font-size: 12px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    box-sizing: border-box;
	>img:first-child {
		width: 45px;
		margin-right: 10.5px;
		float: left;
	}
	>p {
		float: left;
		width: calc(100vw - 164px);
		max-width: 500px - 164px;
		text-align: left;
	}
	>a {
		float: left;
		background: #FC4083;
		border-radius: 4px;
		color: #fff;
		width: 74px;
		height: 30px;
		line-height: 30px;
		margin-left: 10px;
		margin-top: 7.5px;
	}
}
@media screen and (min-width: 500px) {
	.header {
		left: 50vw;
		width: 500px;
		margin-left: -250px;
	}
	.header > p {
    	line-height: 45px;
    }
    .content {
    	left: 50vw;
    	margin-left: -250px;
    }
    #J_prismPlayer,embed {
    	height: 281.10945px !important;
    }
    .live_bg {
	    min-height: 1355px;
    }
}
