body >* {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    font-family: 'SimHei';
    background: #fff;
}
.header {
	border-bottom: #FAFAFA solid 1px;
	box-shadow: 0 1px 4.5px 0 rgba(0,0,0,0.18);
	max-height: 64px;
	text-align: center;
	box-sizing: border-box;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	font-size: 14px;
	>img:first-child {
		width: 45px;
		margin-right: 10.5px;
		float: left;
	}
	>p {
		float: left;
		width: calc(100vw - 164px);
		max-width: 500px - 164px;
		text-align: left;
	}
	>a {
		float: left;
		background: #FC4083;
		border-radius: 4px;
		color: #fff;
		width: 74px;
		height: 30px;
		line-height: 30px;
		margin-left: 10px;
		margin-top: 7.5px;
	}
}
.header-swiper {
  width: 100%;
}
.swiper-container {
  padding: 9px 0;
  width: 100vw;
  max-width: 500px;
}
.swiper-img {
  width: 45px;
  height: 45px;
  // background: url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/icon_groupy_128.png) no-repeat;
  // background-size: cover;
  // background-position: center;
  // overflow: hidden;
}
.swiper-tips {
  width: calc(100vw - 160px);
  max-width: 500px - 160px;
  text-align: left;
  margin-left: 8px;
  font-size: 14px;
  line-height: 22.5px;
  >* {
    display: inline-block;
  }
  span {
    color: #FC4083;
    font-weight: 600;
    width: 100%;
  }

}
.swiper-download {
  text-align: center;
  background: #FC4083;
  border-radius: 4px;
  color: #fff;
  width: 74px;
  height: 30px;
  line-height: 30px;
  margin-left: 8px;
  margin-top: 8px;
}
.header .swiper-slide {
  height: 45px;
  overflow: hidden;
  padding: 0 12px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  >* {
    float: left;
  }
}
.swiper-pagination {
  bottom: 0;
  width: 100%;
  height: 7px;
  line-height: 7px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  border-radius: 50%;
vertical-align: middle;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 3px;
}
.swiper-pagination-bullet-active {
	background: #FC4083;
}
.content {
    width: 100%;
    padding-top: 64px;
    background: #fff;
}

@media screen and (min-width: 500px) {
	.header, .footer, .reservation {
		left: 50% !important;
		width: 500px !important;
		margin-left: -243px !important;
	}
	.header > p {
    	line-height: 45px;
    }
}
.userinfo {
	padding: 12px 12px 5px;
	overflow: hidden;
	>span {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		float: left;
		margin-right: 8px;
		overflow: hidden;
		img {
			width: 60px;
			min-height: 60px;
		}
	}
	.video_desc {
		width: calc(100vw - 72px);
		max-width: 390px;
		float: left;
		h3 {
			font-size: 16px;
			font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
		}
		p {
			color: #999;
			overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
		}
	}
}
.comment_list li:not(.idol_comment) {
	.comment_content {
		padding: 0;
		color: #333;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
	    -webkit-line-clamp: 5;
	    -webkit-box-orient: vertical;
	    line-height: 24px;
		span {
			font-weight: 600;
			color: #151515;
			display: inline-block;
			float: none;
			text-align: left;
		}
	}
}
.video_text {
	font-size: 16px;
	padding: 0 12px;
	box-sizing: border-box;
	line-height: 24px;
	span {
		vertical-align: top;
	}
}
.vip_show {
	position: relative;
	>p {
		font-size: 16px;
		padding: 0 12px 7.5px;
	}
	.video_banner {
		position: relative;
		>img:first-child{
			display: block;
			width: 100%;
			// height: calc(100vw*11/9);
			// max-height: 500px * 11/9;
			background: #eee;
		}
		>img:last-child{
			display: block;
			position: absolute;
			left: 12px;
			top: 8px;
			width: 75px;
		}
	}
	.vip_download {
		position: absolute;
		bottom: 12px;
		left: 50%;
		margin-left: -150px;
		text-align: center;
		color: #fff;
		a {
			display: block;
			color: #fff;
			width: 300px;
			height: 44px;
			line-height: 44px;
			opacity: 0.9;
			background: #FC4083;
			border-radius: 4px;
			font-size: 14px;
			margin-top: 7.5px;
		}
	}
}
.download {
	display: block;
	background: #FC4083;
	border-radius: 4px;
	width: 80%;
	margin: 20px	 auto;
	color: #fff;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
}
.more_video {
	padding: 0 12px;
	overflow: hidden;
	h3 {
		font-size: 16px;
	}
	ul {
		padding-bottom: 10px;
		float: left;
		width: calc((100vw - 36px)/2);
		max-width: calc((500px - 60px)/2);
		&:last-child {
			margin-left: 12px;
		}
		li {
			background: #FAFAFA;
			width: 100%;
			box-shadow: 0 2px 7px 0 rgba(201,201,201,0.75);
			border-radius: 2px;
			margin-bottom: 11.5px;
			overflow: hidden;
		}
	}
	@media screen and (min-width: 500px) {
	    .video_bigImg {
	    	max-height: calc((500px - 36px)/2 * 11/9);
	    }
	}
	.video_bigImg {
		position: relative;
		overflow: hidden;
		max-height: calc((100vw - 36px)/2 * 11/9);
		.video_poster {
			display: block;
			width: 100%;
			// max-height: calc((100vw - 36px)/2 * 11/9);
		}
		.btn_play {
			position: absolute;
			left:50%;
			top: 50%;
			margin-left: -12.5px;
			margin-top: -12.5px;
		}
		>div {
			position: absolute;
			bottom: 12px;
			right: 12px;
			.time_bg {
				display: block;
				width: 48px;
			}
			.time_play {
				position: absolute;
				left: 7px;
				top: 6px;
			}
			span {
				position: absolute;
				left:13px;
				top: 0;
				color: #fff;
				font-size: 10px;
				-webkit-transform: scale(0.8);
			}
		}
	}
	.video_content {
		padding: 3px 7px;
		font-size: 14px;
		line-height: 20px;
	}
}
.groupy-footer {
	position: relative;
	padding-top: 10px;
	.footer-image {
		width: 100vw;
		max-width: 500px;
		display: block;
	}
	.groupy-content {
		position: absolute;
		left:0;
		bottom: 20px;
		width: 100%;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		a {
			color: #fff;
			border: 2px solid #FFFFFF;
			border-radius: 4px;
			display: block;
			margin: 0 auto;
			max-width: 346.666667px;
			width: 69.33333vw;
			margin-top: 20px;
			height: 40px;
			line-height: 40px;
		}
	}
}
@media screen and (min-width: 500px) {
  .video-list li {
    margin-left: 2px !important;
    margin-top: 4px !important;
  }
}
