.video_content {
  width: 100%;
  min-height: 89.2vw;
  max-height:133.33333vw;
  position: relative;
  border-bottom: 5px #eee solid;
  overflow:hidden;
  #idolVideo {
    // width: 100%;
    max-height:133.33333vw;
    width: 100vw;
    height: 100vw;
    max-width: 500px;
    object-fit:fill;
    display: block;margin: 0 auto;
    position: absolute;
    left: 50%;top: 50%;
    margin-left: -50%;margin-top: -44.6vw;
  }

  .video_play {
    position: absolute;
    left: 50%;top: 50%;width: 40px;
    margin-left: -15px;margin-top: -15px;
  }
}
.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 89.2vw;
  max-height: 446px;
  max-width: 500px;
  overflow: hidden;
}
.video-poster {
  margin-left: -20px;
  margin-top: -20px;
  object-fit:fill;
  filter: blur(20px);
  width: calc(100vw + 20px);
  max-width: 520px;
  height: calc(89.2vw + 20px);
  max-height: 466px;
  background-image:url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  overflow:hidden;
  background-color: rgba(0,0,0,0.4);
}
.vip_download {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 500px;
  height: 89.2vw;
  max-height: 446px;
  box-sizing: border-box;
  padding-top: 12.14393vh;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  p:first-child {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 17px;
  }
  a:last-child {
    height: 40px;
    line-height: 40px;
    width: 69.33333vw;
    max-width: 346.66667px;
    font-size: 16px;
    background: #00B4BB;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }
}
video::-webkit-media-controls,
video::-moz-media-controls,
video::-webkit-media-controls-enclosure{
  display:none !important;
}

video::-webkit-media-controls-panel,
video::-webkit-media-controls-panel-container,
video::-webkit-media-controls-start-playback-button {
  display:none !important;
  -webkit-appearance: none;
}
.video_likes {
  position: absolute;
  right: 24px;
  bottom: 47px;
  img {
    width: 45px;
  }
}
.idol-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.37) 100%);
  color: #fff;
  overflow: hidden;
  padding-bottom: 6px;
}
.idol-avatar {
  float: left;
  margin-left: 12px;
  margin-right: 6px;
  height: 45px;
}
.avatar {
  width: 45px;
  height: 45px;
  background-image:url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  overflow:hidden;
  border-radius: 50%;
  float: left;
}
.video_guard {
  background-image: linear-gradient(150deg, #FF8550 0%, #FF2E79 100%);
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 14px;
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  color: #fff;
}
.idol-info {
  float: left;
  width: calc(100% - 150px);
  color: #FFFFFF;
  margin-top: 3px;
  >* {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  span {
    font-size: 14px;
    font-weight: 600;
  }
  span.none-org {
    line-height: 45px;
  }
  em {
    font-size: 10px;
    -webkit-transform:scale(0.8);
    margin-left: -10%;
  }
}
.feature-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #FC4083;
  font-weight: 600;
  margin: 15px 0 7px;
  span {
    position: absolute;
    background: #FC4083;
    width: 24px;
    height: 1.5px;
    left: 50%;
    top: 11px;
  }
  .left {
    margin-left: -85px;
  }
  .right {
    margin-left: 60px;
  }
}
.video-list {
  overflow: hidden;
  li {
    float: left;
    a {
      display: block;
      position: relative;
    }
    margin-left:0.4vw;
    margin-top: 0.8vw;
  }
  .poster {
    object-fit:fill;
    width: 32.8vw;
    height: 49.06667vw;
    max-width: 164px;
    max-height: 245.33335px;
    background-image:url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;
  }
  .video_play {
    position: absolute;
    left: 50%;top: 50%;
    width: 25px;height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
  }
}
.video-end-content {
  position: absolute;
  left: 0;top: 0;
  width: 100vw;
  max-width: 500px;
  min-height: 89.2vw;
  max-height:133.33333vw;
  background: rgba(0,0,0,0.4);
  .vip_download {
    background: none;
    padding-top: 0;
    position: static;
    >div {
      padding: 0 12px 0;
      position: relative;
      top: 50%;
      left: 0;
      margin-top: calc(-33.33333vw - 32px);
    }
  }
}
@media screen and (min-width: 500px) {
  .video-end-content .vip_download >div {
     margin-top: -198.66667px;
  }
}
.end-list {
  overflow: hidden;
  width: calc(66.66667vw + 30px);
  max-width: 363.33333px;
  margin: 0 auto;
  li.end-videos {
    float: left;
    margin-bottom: 12px;
    &:nth-child(2n-1) {
      margin-right: 30px;
    }
  }
  li.end-videos a {
    display: block;
    background-image:url(http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/h5_groupy/default_img/default_video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;
    width: 33.33333vw;
    height: 33.33333vw;
    max-width: 166.66667px;
    max-height: 166.66667px;
    position: relative;
    border-radius: 4px 4px 0 0;
    .video_play {
      width: 25px;
      height: 25px;
      margin-left: -12.5px;
      margin-top: -12.5px;
    }
  }
}
.progress {
  width: 33.33333vw;
  max-width: 166.66667px;
  height: 4px;
  background: #EFEFEF;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  .progress_span {
    display: block;
    width: 100%;
    background: #FC4083;
    height: 4px;
  }
  .progress_span.over {
    transform: translate3d(0, 0, 0);
    animation: changeWidth 3.1s linear infinite;
  }
}
  @keyframes changeWidth{
    from {width: 100%;}
    to {width: 0;}
  }
.vip_download .video-opt {
  text-align: center;
  >* {
    display: inline-block;
    font-size: 14px;
  }
  span {
    margin-right: 30px;
    border: 1.5px solid #FFFFFF;
    width: 33.33333vw;
    max-width: 166.66667px;
    line-height: 27px;
    font-weight: 500;
    border-radius: 4px;
  }
  a {
    line-height: 30px;
    height: 30px;
    width: 33.33333vw;
    max-width: 166.66667px;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(150deg, #FF8550 0%, #FF2E79 100%);
  }
}
.error-tips {
  color: #fff;
  position: absolute;
  top: 0;
  right: 40px;
  span {
    padding-top: 30px;
  }
  img {
    width: 66.5px;
  }
}

@media screen and (min-width: 500px) {
  .video_content,.vip_download,.video-end-content {
    min-height: 446px;
    max-height: 666.66667px;
  }
  .video-end-content .vip_download {
    margin-top: -181.66667px;
    top: 50%;
    padding-top: 0;
    height: 446px;
  }
}
